@import "mixins.scss";
@import "../variables.scss";

.address {
    height: $section_height;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: $nav_logo_height 32px 32px 32px;

    @media (max-width: $desktop){
        height: auto;
        padding-top: $nav_logo_tablet_height;
    }

    @media (max-width: $tablet){
        padding-top: $nav_logo_mobile_height;
    }

    &__description {

    }
    
    &__header{
        font-family: 'Playfair Display', serif;

        @media (max-width: $tablet){
            font-size: 1.25rem;
        }
    }

    &__link {
        &--image {

            @media (max-width: $desktop) {
                height: 100%;
                width: 100%;
            }
        }
    }
}