@import "mixins.scss";
@import "../variables.scss";

.finished {
    height: $section_height;
    text-align: center;
    padding-top: 48px;

    &__description{
        margin-bottom: 64px;
    }

    &__header {

    }

    &__images {
        //width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        &--image {
            //height: 25%;
            width: 40%;
            margin: 8px;
        }
    }
}