@import "mixins.scss";

.hello {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  padding: 0 5rem 2rem 5rem;

  @media (max-width: $desktop) {
    height: auto;
  }

  &__description {
  }

  &__footer {
  }

  &__header {
  }

  &__image {
    @include section-background-image;
    height: 700px;
    width: 100%;
  }

  &__text {
    z-index: 1;
  }
}
