@import "mixins.scss";

.hello {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    background: gray;

    position: relative;

    &__description {

    }

    &__footer {

    }

    &__header {
        
    }

    &__image{
        opacity: 35%;
        // width: 99vw;

        @include section-background-image;
    }

    &__text {
        z-index: 1;
    }

}