@import "mixins.scss";

.hello {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  padding: 1rem 5rem 2rem 5rem;

  @media (max-width: $desktop) {
    height: auto;
  }

  @media (max-width: $tablet) {
    padding: 1rem;
  }

  &__image {
    @include section-background-image;
    height: 700px;
    width: 100%;
  }

  &__text {
    z-index: 1;
  }
}

#hello__description--link--break::after {
  @media (min-width: $tablet) {
    content: "\a";
    white-space: pre;
  }
}
