@import "mixins.scss";
@import "../variables.scss";

.map {
    //height: $section_height;
    padding: 10rem 32px 32px 32px;
    text-align: center;

    &__header {
        font-family: 'Playfair Display', serif;
    }

    &__map {
        height: 60vh;
        padding: 32px;
    }
}