
@mixin flex-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin section-background-image {
    z-index: 0;

    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

@mixin section-text {
    z-index: 1;
    background: white;

    margin: 16px;
    padding: 16px;
    border-radius: 16px;
}