
@mixin flex-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 3rem;
}

@mixin flex-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    padding: 3rem;
}

@mixin section-background-image {
    z-index: 0;
    height: 1000px;
    width: 100%;
    object-fit: cover;
}

@mixin section-text {
    z-index: 1;
    //background: white;
    background-color: rgb(255 255 255 / 0.6);
    
    position: absolute;

    margin: 16px;
    padding: 16px;
    border-radius: 16px;
}