@import "mixins.scss";
@import "../variables.scss";

.nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    
    display: flex;
    justify-content: center;
    
    &__logo {
        height: 10rem;
    }
}