@import "mixins.scss";
@import "../variables.scss";

.navigation {
  position: fixed;
  top: 50%;
  margin-top: -180px;
  right: 32px;
  z-index: 10;

  @media (max-width: $tablet) {
    display: none;
  }

  &__list {
    display: block;

    &--item {
      list-style: none;
    }

    &--item > a {
      background: #aaa;
      border-radius: 10px;
      display: block;
      height: 15px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 15px;
      padding: 0;

      margin-bottom: 16px;
    }

    &--item > a:hover {
      background-color: $navigation_bulbs_hover;
    }
  }
}
