@import "mixins.scss";
@import "../variables.scss";

.others {
    height: $section_height;
    @include flex-content-right;
    position: relative;

    &__description {
        &--item {

        }
    }

    &__header {
        font-family: 'Playfair Display', serif;
    }

    &__image {
        @include section-background-image;
    }

    &__text {
        @include section-text;
    }
}