@import "mixins.scss";
@import "../variables.scss";

.visualizations {
    height: $section_height;
    @include flex-content-left;
    position: relative;

    &__description {
    }

    &__header { 
        font-family: 'Playfair Display', serif;
    }

    &__image {
        @include section-background-image;
    }

    &__text {
        @include section-text;
    }
}