$section_height: auto;//80vh;

$social_border_size: 4rem;
$social_border_box_width: 1px;

$nav_logo_height: 7rem;
$nav_logo_tablet_height: 6rem;
$nav_logo_mobile_height: 5rem;

$sections_padding_top_tablet: 6rem; //change to 3 if navigation bulbs hidden
$sections_padding_top_mobile: 1rem;

$desktop: 960px;
$tablet: 768px;