@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

@import "_variables";
@import "modules/hello.scss";
@import "modules/buildings.scss";
@import "modules/development.scss";
@import "modules/others.scss";
@import "modules/visualizations.scss";
@import "modules/finished.scss";
@import "modules/contact.scss";
@import "modules/navigation.scss";
@import "modules/nav-custom.scss";
@import "modules/address.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  position: relative;

  @media (max-width: $tablet) {
    font-size: 1rem;
  }
}

main {
  position: relative;
}

.mobile-only {
  display: none;

  @media (max-width: $tablet) {
    display: inline-block;
  }
}

.footer {
  text-align: center;
  font-size: 0.72rem;

  &__link {
    text-decoration: none;
    color: $socials_text_color;
  }
}
