@import "~normalize.css";
//@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

@import "_variables";
@import "modules/hello.scss";
@import "modules/buildings.scss";
@import "modules/development.scss";
@import "modules/others.scss";
@import "modules/visualizations.scss";
@import "modules/finished.scss";
@import "modules/contact.scss";
@import "modules/navigation.scss";
@import "modules/nav.scss";
@import "modules/address.scss";

html {
    scroll-behavior: smooth;
}

body {
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

    @media (max-width: $tablet){
        font-size: 1rem;
    }
}

.footer {
    text-align: center;
    font-size: 0.72rem;
}

// section > div.text{
//     z-index: 1;
//     background: white;

//     padding: 16px;
//     border-radius: 16px;
// }